table,
th,
td {
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th {
    margin: 50px;
}

/* Formulario lateral */
.principal {
    margin-top: 30px;
}

#formulario h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#formulario label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
}

#formulario input {
    width: 96%;
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
}

.mensagem-enviada {
    display: none;
}

#mensagem {
    margin-top: 5px;
    width: 97%;
    border-radius: 5px;
    height: 230px;
    border-style: none;
}

#formulario button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    background-color: #04244F;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 7px;
}

#formulario button:hover {
    background-color: #FFFFFF;
    color: #04244F;
}

.mensagem-enviada {
    color: #04244F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 4px;
    position: absolute;
}

/*Menu lateral*/
*.menu-lateral {
    /*padding-right: 1.5rem;*/
    padding: 2rem;
    box-sizing: border-box;
    min-width: 350px;
    background: #00A0E3;
    border-radius: 15px;
    margin-right: 1.5rem;
}



.menu-lateral__navegacao {
    display: flex;
    flex-direction: column;
}

.menu-lateral__navegacao a {
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: #D9D9D9;
    font-size: 24px;
}

.menu-lateral__navegacao a:first-child {
    font-weight: bold;
    color: #7B78E5;
}

.menu-lateral__navegacao img {
    margin-right: 1.5rem;
}