.banner {
    background: url("../../assets/home.jpg") no-repeat center center/cover;
    height: 95vh;
    position: relative;
    color: white;
    margin: 0;
    padding: 0;
}

.banner-title {
    font-size: 5em;
    font-weight: bold;
}